@charset 'UTF-8';

@media screen and (min-width: 768px){
    #icone{
        display: none;
    }

    #itens{
        display: block;
    }

    menu li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}

